@using WalletSICAI.viewModels;
@model LoginViewModel; 

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2 class="text-center mb-4">Login</h2>
    <form asp-action="Login" method="post" class="w-50 mx-auto">
        <div class="mb-3">
            <label asp-for="AdministrativoEmail" class="form-label"></label>
            <input asp-for="AdministrativoEmail" class="form-control" />
            <span asp-validation-for="AdministrativoEmail" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AdministrativoPassword" class="form-label"></label>
            <input asp-for="AdministrativoPassword" class="form-control" type="password" />
            <span asp-validation-for="AdministrativoPassword" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">    
            <label class="form-check-label">
                <input asp-for="RememberMe" class="form-check-input" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <input type="submit" value="Login" class="btn btn-success" />
        <div class="text-center">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
        </div>
    </form>
</div>
