@model WalletSICAI.viewModels.ResetPasswordViewModel
@* @model ResetPasswordViewModel *@

<form asp-action="ResetPasswordConfirm" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="AdministrativoEmail" />

    <div class="mb-3">
        <label class="form-label">Nueva contraseña</label>
        <input asp-for="nuevaPassword" type="password" class="form-control" required />
        <span asp-validation-for="nuevaPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">
        Actualizar contraseña
    </button>
</form>