@{
    ViewData["Title"] = "Gestión de Gastos y Categorías";
}

<h2>Gestión de Estudiantes y Categorías</h2>

<ul class="nav nav-tabs" id="gestionTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="gasto-tab" data-bs-toggle="tab" data-bs-target="#gasto" type="button" role="tab">
            Registrar Gasto
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tipo-tab" data-bs-toggle="tab" data-bs-target="#tipo" type="button" role="tab">
            Registrar Tipo de Gasto
        </button>
    </li>
</ul>

<div class="tab-content mt-3" id="gestionTabsContent">
    <!-- TAB: Registrar Gasto -->
    <div class="tab-pane fade show active" id="gasto" role="tabpanel" aria-labelledby="gasto-tab">
        @await Html.PartialAsync("~/Views/Gastos/CrearGasto.cshtml", new WalletSICAI.viewModels.GastoViewModel())
    </div>

    <!-- TAB: Registrar Tipo de Gasto -->
    <div class="tab-pane fade" id="tipo" role="tabpanel" aria-labelledby="tipo-tab">
        @await Html.PartialAsync("~/Views/TiposGastos/CrearTipoGasto.cshtml", new WalletSICAI.Models_.TiposGasto())
    </div>
</div>
