@model WalletSICAI.Models.Estudiante

<ul class="list-group">
    <li class="list group-item">
        <strong>Nombre Completo:</strong> @Model.EstudianteNombreCompleto"</li>
    <li class="list group-item">
        <strong></strong>Cédula:</strong> @Model.EstudianteCedula</li>
    <li class="list group-item">
        <strong>Saldo Actual:</strong> @Model.MontoActual</li>
</ul>
