html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* ===== LOGIN ===== */

.login-bg {
    /* background-color: #000;*/
    background-color: #0f172a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    background: #1e232b;
    width: 100%;
    max-width: 420px;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.login-title {
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.login-subtitle {
    color: #9aa4b2;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 25px;
}

.login-card label {
    color: #cbd5e1;
    font-size: 0.85rem;
}

.login-input .input-group-text {
    background-color: #111827;
    border: none;
    color: #9ca3af;
}

.login-input .form-control {
    background-color: #111827;
    border: none;
    color: #fff;
}

    .login-input .form-control::placeholder {
        color: #6b7280;
    }

    .login-input .form-control:focus {
        box-shadow: none;
        background-color: #111827;
        color: #fff;
    }

.forgot-link {
    font-size: 0.8rem;
    color: #6366f1;
    text-decoration: none;
}

    .forgot-link:hover {
        text-decoration: underline;
    }

.login-btn {
    background: linear-gradient(90deg, #8a2be2, #ff5da2);
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px;
}

    .login-btn:hover {
        opacity: 0.9;
    }

.password-toggle {
    cursor: pointer;
    background-color: #111827;
    border: none;
    color: #9ca3af;
}

    .password-toggle:hover {
        color: #fff;
    }


/* Quitar fondo blanco del autocompletado */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px #020617 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* ===== Menu principal===== */

/* Sidebar */
nav h4 {
    font-weight: bold;
}

.nav-link {
    transition: background 0.2s ease;
}

    .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        border-radius: 5px;
    }

/* Cards del panel */
.admin-card {
    transition: transform 0.2s ease;
}

    .admin-card:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
